<li id="<%= reminder.id %>">
<div class="container">
  <div class="row-responsive">
    <div class="col-sm-9">
      <span class = "content"><%= reminder.content %></span></br>
      <span class = "time">
        <% if reminder.time > Time.now %>
          <b>Is set for <%= distance_of_time_in_words(Time.now, reminder.time) %> from now.</br> <small>( <%= reminder.time %> )</small></b>
        <% else %>
          <b>Was set for <%= distance_of_time_in_words(Time.now, reminder.time) %> ago.</b>
        <% end %>
      </span>
    </div>
    <div class="col-sm-3">
      <% if current_user?(reminder.user) %>
        <%= link_to "delete", reminder, method: :delete,
                                      data: { confirm: "Are you sure?" },
                                      title: reminder.content %>
      <% end %>
    </div>
  </div>
</div>
</li>
