<div class ="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
      <h1>Sign Up!</h1>
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.label :name %>
          <%= f.text_field :name, :class => "signup-form" %>

          <%= f.label :email %>
          <%= f.text_field :email, :class => "signup-form" %>

          <%= f.label :password %>
          <%= f.password_field :password, :class => "signup-form" %>

          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation, :class => "signup-form" %>

          <%= f.submit "Create my account", class: "btn btn-lg btn-primary btn-block", id: "signup-button" %>
        <% end %>
    </div>
  </div>
</div>
